<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tanmaygodbole.popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission android:name="tanmaygodbole.popularmovies.movieDB"
        android:protectionLevel="dangerous"
        android:label="MovieControl"
        />

    <application
        android:name=".PopularMoviesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MovieDetailActivity"
            android:label="@string/title_activity_movie_detail"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tanmaygodbole.popularmovies.MainActivity" />
        </activity>
        <provider
            android:name=".data.MoviesContentProvider"
            android:enabled="true"
            android:exported="false"
            android:syncable="true"
            android:permission="tanmaygodbole.popularmovies.movieDB"
            android:authorities="@string/content_authority" />

    </application>

</manifest>